all:
  vars:
    ansible_ssh_common_args: >-
      -o StrictHostKeyChecking=no
      -o UserKnownHostsFile=/dev/null
      -o ProxyCommand="gcloud compute start-iap-tunnel %h %p --listen-on-stdin --project={{ gcp_project_id }} --zone={{ gcp_zone }} --quiet"
  children:
    app_servers:
      hosts:
        server1:
          ansible_host: gcp-remote-instance-20251214-182233
          ansible_user: gilang_grk17
          gcp_zone: us-central1-c