all:
  vars:
    ansible_user: "{{ lookup('env', 'ANSIBLE_USER') | default('gilang_grk17_gmail_com', true) }}"
    ansible_ssh_common_args: >-
      -o IdentitiesOnly=yes
      -o IdentityFile=~/.ssh/google_compute_engine
      -o StrictHostKeyChecking=no
      -o UserKnownHostsFile=/dev/null
      -o ProxyCommand="gcloud compute start-iap-tunnel %h %p --listen-on-stdin --project={{ gcp_project_id }} --zone {{ gcp_zone }} --quiet"
  children:
    app_servers:
      hosts:
        server1:
          ansible_host: gcp-remote-instance-20251214-182233
          ansible_port: 22
          gcp_zone: us-central1-c