- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  listen: reload systemd

- name: Restart app
  ansible.builtin.systemd:
    name: "{{ app_name }}"
    state: restarted
    enabled: true
  when:
    - not ansible_check_mode
    - service_file.stat.exists | default(false)
  listen: restart app